@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* navBar ou Header */
.navBar {
    background-color: rgba(244, 230, 230,0.7);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    height: 25px;
    width: 100%;
    border-bottom: 3px solid #77D400;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    /* Torna a navbar fixa */
    z-index: 1000;
}

.navBar img {
    height: 100px;
    max-height: 350%;
    margin-top: 40px;
}

.navLink::before {
    transition: all .6s;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2.5px;
    bottom: -2px;
    background-color: #77D400;
}

.navLink:hover::before {
    transform: scaleX(1);
}
/* tela */
.container {
    display: flex;
    justify-content: flex-start;
}

.navItem {
    display: flex;
    align-items: flex-start;
    margin-right: 100px;
    /* Adiciona margem à direita */
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;
}

.navLink {
    text-decoration: none;
    color: black;

}

body {
    margin: 0;
    background-image: url(../assets/imagens/fundoMadeira.jpg);
}

/* Banner*/
.conteudoTitulo {
    /* height: 300px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: start;

}

.conteudoTitulo img {
    position: relative;
    margin-left: 35%;
    margin-top: 10px;
    width: 300px;
}

.conteudoTitulo h1 {
    font-weight: normal;
    font-size: 40px;
}

/* conteudo */
.conteudoTitulo p {
    font-size: 20px;
}

/* .teste{
    display: flex;
    justify-content:space-around;
} */
.telaInicial {
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
}

.fotos {
    display: flex;
    position: relative;
    width: 45%;
    /* padding: 10px; */
}

.fotos {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    padding: 10px;
    width: 48px;
    top: 60px;
    /* display: flex;
    flex-direction: row;
    position: relative;
    right: 5%;
    margin-bottom: 12%;
    padding: 10px; */
}

#wally5 {
    position: relative;
    width: 500px;
    left: 180px;
    top: 50px;
}

#wally3 {
    position: relative;
    top: 300px;
    width: 300px;
    right: 350px;
}

/* tela regras */

.telaRegras {
    display: flex;
    background-image: url(../assets/imagens/telaPapel.jpg);
    margin-top: 24%;
}

.conteudoTituloRegras {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    justify-content: center;
    padding: 40px;
    font-size: 35px;
}

.regrasLeft {
    width: 40%;
    margin-right: 45%;
    font-size: 20px;
}

.regrasRight {
    position: absolute;
    width: 40%;
    margin-left: 45%;
    margin-top: 9%;
    font-size: 20px;
}

.telaONU {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0%;
}

.telaONUTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 12px; /* add*/
    margin-top: 30px;
}
.SaudeBemEstar{
    border-left: 6px solid #77D400;
    width: 50%;
    height: 50%;
    font-size: 25px;
    margin-right: 500px;
}
.praticaWally{
    border-right: 6px solid #77D400;
    width: 40%;
    font-size: 30px;
    margin-left: 600px;
    margin-top: -88px;
}
.logosONU{
    /* display: flex;
    flex-direction: row; */
    position: relative;
    top: 60px;
    height: 80px;
    padding: 5px;
    left: 0px;
}
