@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* navBar ou Header */
.navBar {
    background-color: rgba(244, 230, 230, 0.7);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    height: 25px;
    /* width: 100%; */
    border-bottom: 3px solid #77D400;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: relative;
    /* Torna a navbar fixa */
    z-index: 1000;
}

.navBar img {
    height: 100px;
    max-height: 350%;
    margin-top: 40px;
}

.navLink::before {
    transition: all .6s;
    transform: scaleX(0);
    transform-origin: left;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2.5px;
    bottom: -2px;
    background-color: #77D400;
}

.navLink:hover::before {
    transform: scaleX(1);
}

.container {
    display: flex;
    justify-content: center;
}

.navItem {
    display: flex;
    align-items: flex-start;
    margin-right: 100px;
    /* Adiciona margem à direita */
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;
}

.navLink {
    text-decoration: none;
    color: black;

}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    overflow-x: hidden;
    background-image: url(../assets/imagens/fundoMadeira.jpg);
    font-family: "Roboto Condensed", sans-serif;
}



/* button */

#btn {
    position: fixed;
    /* Alterado de absolute para fixed */
    bottom: 20px;
    /* Distância da parte inferior da tela */
    right: 20px;
    /* Distância da parte direita da tela */
    display: flex;
    width: auto;
    font-weight: bold;
    /* Ajustado para que o botão tenha tamanho apropriado */
    text-align: center;
    justify-content: flex-end;
    z-index: 1000;
    /* Garante que o botão fique sobre outros elementos */
}

#btn button {
    font-family: "Roboto Condensed", sans-serif;
    width: auto;
    /* Ajuste de largura para se adaptar ao conteúdo */
    padding: 10px 20px;
    /* Alterado de height e width para padding */
    margin-top: 0;
    /* Removida a margem superior */
    border: 3px solid #77D400;
    /* Ajuste na borda */
    font-size: 1.2em;
    color: #000;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: transparent;
}

#btn button:hover {
    box-shadow: #292929 2px 10px 10px 5px;
    transition: all .3s ease-in-out;
}

#content{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding: 20px;
}

/* sair */
/* .btn-logout h3 {
    margin: 0;
    padding: 0;
} */

.btn-logout {
    background-color: transparent;
    font-size: 1.2em;
    color: #000;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    height: 30px;
    outline: none;
    position: fixed;
    margin-bottom: -15px;
    font-weight: normal;
    bottom: 20px;
    left: 20px;
    display: flex;
    width: auto;
    /* Ajustado para que o botão tenha tamanho apropriado */
    justify-content: flex-end;
    z-index: 1000;
    /* Garante que o botão fique sobre outros elementos */
}

#meusFeedbacks{
    width: 50%;
}

#feedbacksFavoritos{
width: 50%;
}

.divButtons::after:click {
    color: yellow;
    /* Active color: yellow */
}
