@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* navBar ou Header */
.navBar{
    background-color: #F4E6E6;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
    height: 25px;
    border-bottom: 3px solid #77D400;
    font-family: 'Montserrat' , sans-serif;
}

.navBar img {
    height: 100px;
    max-height: 350%; 
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.navItem {
    display: flex;
    align-items:flex-start;
    margin-right: 100px; /* Adiciona margem à direita */
}

.navLink {
    text-decoration: none;
    color: black;
    
}
body{
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    background-image: url(../imagens/fundoMadeira.jpg);
}

/* Banner*/
.conteudoTitulo{
    /* height: 300px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align:start;
    
}
.conteudoTitulo img {
    position: relative;
    margin-left: 50%;
    margin-top: 10px;
    width: 300px;
}
.conteudoTitulo h1{
    font-weight: normal;
    font-size: 50px;
}

/* conteudo */
.conteudoTitulo p {
    font-size: 25px;
}
/* .teste{
    display: flex;
    justify-content:space-around;
} */
.telaInicial{
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
}
.fotos{
    display: flex;
    position: relative;
    width: 50%;
    padding: 10px;
}
#wally5{
    position: relative;
    height: 500px;
    width: 500px;
    left: 250px;
}
#wally3{
    position: relative;
    top: 380px;
    height: 350px;
    width: 350px;
    right: 450px;
}
